<% if @accounts.any? %>
  <h3>Search Results</h3>
  <ul>
    <% @accounts.each do |account| %>
      <%= link_to account.name, show_posts_search_path(account), class:"btn btn-secondary" %>
      followers: <%= account.followers.count %>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>
