<% if @accounts.any? %>
  <h2>Search Results</h2>
  <ul>
    <% @accounts.each do |account| %>
      <li><%= link_to account.name, show_posts_search_path(account) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>
