<div style="border: 1px solid #ccc" class="text-center" style="margin: auto;">
  <div id="posts">
    <% @posts.reverse_each do |post| %>
      <p style="border: 1px solid #ccc">
      <%= render post %>
      <p>
        <%= link_to "Show this post", post, class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
  
  <%= link_to "New post", new_post_path, class: "btn btn-primary" %>
</div>
