<div class="d-flex justify-content-center gap-2 my-3">
  <%= link_to "Create New Posts", new_post_path(current_account), class: "btn btn-primary btn-lg" %>
  <%= link_to "Archived Posts", new_post_path(current_account), class: "btn btn-primary btn-lg" %>
</div> 
<div style="border: 1px solid #ccc">
  <% @posts.reverse_each do |post| %>
    <p style="border: 1px solid #ccc">
    <%= render post %>
    <p class="text-center post-container col-6" style="margin: auto;">
      <%= link_to "Show this post", post, class: "btn btn-primary"%>
    </p>
    </p>
  <% end %>
</div>
