<div style="border: 1px solid #ccc">
  <% @posts.each do |post| %>
    <p style="border: 1px solid #ccc"><%= render post %>
    <p class="text-center post-container col-6" style="margin: auto;">
      <%= link_to "Show this post", post, class: "btn btn-primary"%>
    </p></p>
  <% end %>
</div>
